html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* The html and body elements cannot have any padding or margin. */
}


/* Custom CSS (Overrides Bootstrap defaults.)
-------------------------------------------------- */

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  width: 100%;
  /* Negative indent footer by its height */
  margin: 0 0 -30px 0;
  /* Pad bottom by footer height */
  padding: 0 0 30px 50px;
}

.container {
  margin: 0;
  padding: 0;
}

.lead {
  margin: 10px 0 30px 0;
  padding: 0;
}

#my-head {
  margin: 30px 0 0 0;
  padding: 0;
}

.main {
  width: 100%;
  height: 520px;
  margin: 0 0 30px 0;
  padding: 0;

  /*border: 2px solid pink;*/
}

.side-panel {
  height: 510px;
  margin: 0;
  padding: 0 60px 0 0;

  /*border: 2px solid blue;*/
}

.directions {
  margin: 30px 0 0 0;
  padding: 0;

  /*border: 2px solid lightgreen;*/
}

.directions h4 h3 {
  padding: 0;
  margin: 0;
  line-height: 50%;
}

.directions-window {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 250px;
  overflow: scroll;

  /*border: 2px solid purple;*/
}

#map-window {
  height: 500px;
  margin: 0;
  padding: 0;
  -moz-box-shadow: 3px 3px 10px 3px #ccc;
  -webkit-box-shadow: 3px 3px 10px 3px #ccc;
  box-shadow: 3px 3px 10px 3px #ccc;

  /*border: 2px solid blue;*/
}

#map-canvas {
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: 0;
  padding: 0;
}

.places-panel {
  width: 100%;
  height: 300px;
  margin: 0;
  padding: 0;
  overflow: scroll;

  /*border: 2px solid purple;*/
}
