html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* The html and body elements cannot have any padding or margin. */
}


/* Custom CSS (Overrides Bootstrap defaults.)
-------------------------------------------------- */

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  width: 100%;
  /* Negative indent footer by its height */
  margin: 0 0 -30px 0;
  /* Pad bottom by footer height */
  padding: 0 0 30px 50px;
}

.container {
  margin: 0;
  padding: 0;
}

.lead {
  margin: 10px 0 30px 0;
  padding: 0;
}

#my-head {
  margin: 30px 0 0 0;
  padding: 0;
}

.map-form {
  margin: 5px 0 0 0;
  padding: 0 30px 0 0;
}

.directions-panel {
  margin: 20px 0 0 0;
  padding: 0;
  width: 100%;
  height: 300px;
  overflow: scroll;

  /*border: 2px solid orange;*/
}

#steps.directions-panel {
  margin: 0;
  padding: 0;
}

#places-data {
  overflow: scroll;
  width: 100%;
  height: 300px;
  margin: 30px 0 0 0;
  padding: 0;
}


/* Map Styling
-------------------------------------------------- */

#map-window {
  height: 500px;
  margin: 0;
  padding: 0;
  -moz-box-shadow: 3px 3px 10px 3px #ccc;
  -webkit-box-shadow: 3px 3px 10px 3px #ccc;
  box-shadow: 3px 3px 10px 3px #ccc;

  /*border: 2px solid blue;*/
}

#map-canvas {
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: 0;
  padding: 0;
}
