<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>stopIn</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/toastr/toastr.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/main.css -->
      <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="stopInApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <!-- <ng-view></ng-view> -->


    <!-- Body Wrap -->
    <div id="wrap">

      <!-- Body Container -->
      <div class="container">

        <!-- Header -->
        <div class="page-header" id="my-head">
          <h1>Stop-In</h1>
        </div>

        <!-- Subhead -->
        <p class="lead">Where are you going? Stopping in somewhere along the way? Plot your route!</p>

        <!-- Main Content -->
        <div class="container" ng-controller="MainCtrl">

          <!-- Search Form -->
          <div class="row" id="search-form">
            <form class="form-inline" role="form" name="directionsSearchForm" novalidate>

                <label for="origin">Start Location</label>
                <input type="text" class="form-control" id="origin" placeholder="Start Location" ng-model="origin" required>

                <label for="destination">End Location</label>
                <input type="text" class="form-control" id="destination" placeholder="End Location" ng-model="destination" required>

                <label for="place">stopIn Location</label>
                <select class="form-control" id="place">
                  <option value="cvs">CVS</option>
                  <option value="starbucks">Starbucks</option>
                  <option value="whole foods">Whole Foods</option>
                </select>

              <button type="submit" class="btn btn-info" ng-click="getDirections()" ng-disabled="directionsSearchForm.$invalid">Get Directions</button>
            </form>
          </div>

          <!-- Directions Panel & Map Canvas -->
          <div class="row">
            <div class="col-md-4">
              <div class="directions-panel">
                <h4>Directions</h4>
                <hr>
                <div id="steps"></div>
              </div>

              <div class="col-md-8" id="map-window">
                <div id="map-canvas"></div>
              </div>
            </div>
          </div>

          <!-- Places Panel -->
          <div class="row">
            <div class="col-md-12" id="places-panel">
              <h4>Places Results</h4>
              <hr>
            </div>
          </div>

        </div>  <!-- /.container-collapse / main container -->


      </div>  <!-- /.container / body container -->
    </div>  <!-- /.wrap -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/toastr/toastr.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

      <!-- build:js({.tmp,app}) scripts/scripts.js -->
      <script src="scripts/app.js"></script>
      <script src="scripts/controllers/main.js"></script>
      <!-- endbuild -->

      <!-- google maps api script -->
      <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
      <!-- endgoogle -->

</body>
</html>
