<div id="wrap">
  <div class="container">

    <ng-include src="'views/partials/header.html'"></ng-include>

    <p class="lead">Where are you going? Stopping in somewhere along the way? Plot your route!</p>

    <!-- Map Functionality -->
    <div class="container">

      <ng-include src="'views/partials/search.html'"></ng-include>

      <ng-include src="'views/partials/map_canvas.html'"></ng-include>

    </div>  <!-- /.container / map functionality -->

    <ng-include src="'views/partials/places.html'"></ng-include>

  </div>  <!-- /.container / main page content -->
</div>  <!-- /.wrap -->
